.rsCheckbox {
	// Base version, should be overwritten when being used.
	input,
	label {
		cursor: pointer;
	}
	input[type='checkbox'] {
		position: relative;
		width: 24px;
		height: 24px;
		color: inherit;
		border: 1px solid grey;
		border-radius: 4px;
		appearance: none;
		outline: 0;
		transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
		&::before {
			position: absolute;
			display: block;
			content: '';
			width: auto;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			border-style: solid;
			border-color: inherit;
			background-color: inherit;
			border-width: 2px;
			opacity: 0;
		}
		&:checked {
			color: inherit;
			border-color: inherit;
			background: inherit;
			&::before {
				opacity: 1;
			}
		}
		&:disabled {
			cursor: not-allowed;
			.rsCheckbox {
				label {
					cursor: not-allowed;
				}
			}
		}
	}

	&.containedPrimary {
		&:before {
		}
		&:checked {
		}
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			cursor: not-allowed;
		}
	}
	&.containedSecondary {
		&:before {
		}
		&:checked {
		}
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			cursor: not-allowed;
		}
	}
	&.containedTertiary {
		&:before {
		}
		&:checked {
		}
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			cursor: not-allowed;
		}
	}
	&.outlinedPrimary {
		&:before {
		}
		&:checked {
		}
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			cursor: not-allowed;
		}
	}
	&.outlinedSecondary {
		&:before {
		}
		&:checked {
		}
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			cursor: not-allowed;
		}
	}
	&.outlinedTertiary {
		&:before {
		}
		&:checked {
		}
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			cursor: not-allowed;
		}
	}
	&.textPrimary {
		&:before {
		}
		&:checked {
		}
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			cursor: not-allowed;
		}
	}
	&.textSecondary {
		&:before {
		}
		&:checked {
		}
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			cursor: not-allowed;
		}
	}
	&.textTertiary {
		&:before {
		}
		&:checked {
		}
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			cursor: not-allowed;
		}
	}
}
