@import 'variables';

/*
  include a map in a class
*/
@mixin spread-map($map: ()) {
	@each $key, $value in $map {
		#{$key}: $value;
	}
}

/*
  Returns a CSS variable property specific to themeing.
  Accepts an optional fallback, and optional map.
  - SCSS: color: theme-var($--theme-primary, blue)
  - CSS:  color: var(--theme-primary, blue)
  Throws error if the variable not part of the map
*/
@function theme-var($key, $fallback: null, $map: $defaultTheme) {
	@if not map-has-key($map, $key) {
		@error "key: '#{$key}', is not a key in map: #{$map}";
	}
	@if ($fallback) {
		@return var($key, $fallback);
	} @else {
		@return var($key);
	}
}

@mixin scrolledContent {
	.scrolledContent {
		overflow: auto;
		min-height: calc(100vh - #{$appBarHeight} - #{$pageHeaderHeight});
		max-height: calc(100vh - #{$appBarHeight} - #{$pageHeaderHeight});
		max-width: 1440px;
		margin: 0 auto;
		position: relative;
	}
}
