.rsButton {
	padding: 8px 16px;
	border-radius: 20px;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;

	&.containedPrimary {
		background: #f18da0;
		color: white;
		&:hover {
		}
		&:active {
			background: linear-gradient(90deg, #f498ab 0%, #f8d2d9 100%);
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			background-color: #d4d0d7;
			cursor: not-allowed;
		}
	}
	&.iconPrimary {
		padding: 8px;
		border-radius: 50%;
		background-color: #3c3c3c;
		color: #4f6367;
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
		&.small {
		}
		&:disabled {
			cursor: not-allowed;
		}
	}
}
