.rsCheckbox {
	border-radius: 20px;
	line-height: 24px;

	&.containedPrimary {
		padding: 16px;
		.checkboxContainer {
			display: flex;
			.checkboxLabel {
				margin-top: 4px;
				font-size: 12px;
			}
		}
		input[type='checkbox'] {
			position: relative;
			width: 24px;
			height: 24px;
			color: transparent;
			border: 1px solid gray;
			border-radius: 4px;
			appearance: none;
			outline: 0;
			transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);

			&:before {
				position: absolute;
				display: block;
				opacity: 0;
			}

			&:checked {
				color: white;
				border-color: green;
				background: green;
				overflow: hidden;
				&::before {
					opacity: 1;
				}
			}

			&:disabled {
				background-color: #d4d0d7;
				label {
					color: grey;
				}
			}
		}
	}
	&.containedSecondary {
		padding: 16px;
		.checkboxContainer {
			display: flex;
			flex-direction: column;
			.checkboxLabel {
				margin-top: 4px;
				color: blue;
				font-size: 24px;
				font-weight: bold;
			}
		}

		input[type='checkbox'] {
			position: relative;
			width: 32px;
			height: 32px;
			color: transparent;
			border: 1px solid gray;
			border-radius: 4px;
			appearance: none;
			outline: 0;
			transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);

			&:before {
				position: absolute;
				display: block;
				opacity: 0;
				border-width: 2px;
				transform: rotate(45deg);
				color: white;
			}

			&:checked {
				color: white;
				border-color: orange;
				background: orange;
				overflow: hidden;

				&::before {
					opacity: 1;
				}
			}

			&:disabled {
				background-color: #d4d0d7;
				label {
					color: grey;
				}
			}
		}
	}
}
