.rsInputPhone {
	.inputContainer {
		border: 1px solid gray;
		border-radius: 20px;
		padding: 8px 16px;
		background-color: #ffffff;
		&:hover {
			border: 1px solid pink;
		}
		&:focus-within {
			color: black;
			border: 2px solid pink;
		}
	}
	input {
	}
	.helperText {
	}

	.rsInputErrorMessage {
	}
}
