@import 'themes';
@import '_variables.scss';

html {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.rsLabel {
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #222;
	&.h1 {
		font-size: clamp(56px, 8vw, 96px);
		line-height: clamp(70px, 8vw, 112px);
		letter-spacing: -1.5px;
	}
	&.h2 {
		font-size: clamp(36px, 8vw, 60px);
		line-height: clamp(43px, 8vw, 72px);
		letter-spacing: -0.5px;
	}
	&.h3 {
		font-size: clamp(32px, 6vw, 48px);
		line-height: clamp(38px, 6vw, 58px);
		letter-spacing: 0;
	}
	&.h4 {
		font-size: clamp(24px, 6vw, 34px);
		line-height: clamp(29px, 6vw, 41px);
		letter-spacing: 0.25px;
	}
	&.h5 {
		font-size: clamp(20px, 5vw, 24px);
		line-height: clamp(24px, 5vw, 29px);
		letter-spacing: 0;
	}
	&.h6 {
		font-size: clamp(18px, 4vw, 20px);
		line-height: clamp(21px, 4vw, 24px);
		letter-spacing: 0.15px;
	}
	&.subtitle1 {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.15px;
	}
	&.subtitle2 {
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 0.1px;
	}
	&.body1 {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.15px;
	}
	&.body2 {
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 0.15px;
	}
	&.button {
		font-size: 15px;
		line-height: 16px;
		letter-spacing: 0.4px;
		text-transform: uppercase;
	}
	&.caption {
		font-size: 11px;
		line-height: 14px;
		letter-spacing: 0.4px;
	}
	&.overline {
		font-size: 11px;
		line-height: 14px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	&.italic {
		font-style: italic;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.15px;
		text-transform: capitalize;
		color: theme-var($darkGray);
	}
	&.mobileItalic {
		font-style: italic;
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.15px;
		color: theme-var($darkGray);
	}
}
