@import 'mixins';

// Default theme used throughout
$defaultTheme: (
	// Primary, Secondary colors - These are just defaults, actual colors will arrive on company public info
	$primaryColor: #fb5356,
	$secondaryColor: #4f6367,
	// Gray Gradient
	$white: #ffffff,
	$ivory: #fbfbfb,
	$lightestGray: #f5f5f5,
	$lighterGray: #e9e9e9,
	$lightGray: #d3d3d3,
	$mediumGray: #999999,
	$darkGray: #707070,
	$lightBlack: #3c3c3c,
	$mediumBlack: #333333,
	$darkestBlack: #222222,
	// Success colors
	$successColor: #139405,
	// Error colors
	$errorColor: #db0d00,
	// Text colors
	$primaryTextColor: #222222,
	$secondaryTextColor: #999999,
	$warningContrast: #725b08,
	//Misc
	$transitionTime: 300ms
);

// Exports are for use in Javascript
:export {
	primaryColor: theme-var($primaryColor);
	secondaryColor: theme-var($secondaryColor);

	white: theme-var($white);
	ivory: theme-var($ivory);
	lightestGray: theme-var($lightestGray);
	lighterGray: theme-var($lighterGray);
	lightGray: theme-var($lightGray);
	mediumGray: theme-var($mediumGray);
	darkGray: theme-var($darkGray);
	lightBlack: theme-var($lightBlack);
	mediumBlack: theme-var($mediumBlack);
	darkestBlack: theme-var($darkestBlack);

	successColor: theme-var($successColor);
	errorColor: theme-var($errorColor);
	warningContrast: theme-var($warningContrast);
}

/*
// NOTE: Inside of App.scss place the following:

// Spread default theme into App class
.App {
	@include spread-map($defaultTheme);
}

*/
