.rsPage {
	z-index: 20;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	background: white;
	transition: transform 0.35s ease;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	box-sizing: border-box;
}
