.rsAvatar {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	-webkit-tap-highlight-color: transparent;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
	}
	.nameInitial {
		border-radius: 50%;
		text-transform: uppercase;
	}
}
