.rsInputTextarea {
	.inputTextareaContainer {
		display: flex;
		align-items: center;

		textarea {
			width: 100%;
			height: 100%;
			border: none;

			&:focus-visible {
				border: unset;
				outline: unset;
			}
		}

		.floatingPlaceholder {
			height: 100%;
			width: 100%;
			position: relative;
			label {
				display: block;
				position: absolute;
				top: 50%;
				transition: all 300ms;
				transform: translateY(-130%);
				pointer-events: none;
				font-size: 12px;
			}
			&:focus-within label,
			textarea:not(:placeholder-shown) + label {
				transform: scale(1) translateY(-32px);
				opacity: 1;
				z-index: 1;
				font-size: 10px;
			}
		}
	}

	.helperText {
	}

	.rsInputErrorMessage {
		text-align: left;
		color: #f44336;
		margin-top: 4px;
	}
}
