@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot?h9rvpd');
	src: url('fonts/icomoon.eot?h9rvpd#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff2?h9rvpd') format('woff2'), url('fonts/icomoon.ttf?h9rvpd') format('truetype'),
		url('fonts/icomoon.woff?h9rvpd') format('woff'), url('fonts/icomoon.svg?h9rvpd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-solid-tag:before {
	content: '\e911';
}
.icon-hamburger-menu:before {
	content: '\e910';
}
.icon-solid-check-circle:before {
	content: '\e90f';
}
.icon-exclamation-circle:before {
	content: '\e90d';
}
.icon-solid-info-circle:before {
	content: '\e90e';
}
.icon-refresh:before {
	content: '\e90c';
}
.icon-add-photo:before {
	content: '\e90b';
}
.icon-email:before {
	content: '\e900';
}
.icon-delete:before {
	content: '\e904';
}
.icon-send:before {
	content: '\e905';
}
.icon-check:before {
	content: '\e906';
}
.icon-chart:before {
	content: '\e907';
}
.icon-store:before {
	content: '\e908';
}
.icon-domain:before {
	content: '\e909';
}
.icon-money-round:before {
	content: '\e90a';
}
.icon-logout:before {
	content: '\e903';
}
.icon-bag:before {
	content: '\e901';
}
.icon-more-vert:before {
	content: '\e902';
}
.icon-close:before {
	content: '\e930';
}
.icon-person:before {
	content: '\e93d';
}
.icon-phone:before {
	content: '\e958';
}
.icon-chevron-right:before {
	content: '\e95b';
}
.icon-folder:before {
	content: '\e95f';
}
.icon-home:before {
	content: '\e960';
}
.icon-description:before {
	content: '\e962';
}
.icon-chevron-up:before {
	content: '\e963';
}
.icon-chevron-left:before {
	content: '\e964';
}
.icon-chevron-down:before {
	content: '\e965';
}
.icon-notification:before {
	content: '\e966';
}
.icon-plus:before {
	content: '\e992';
}
.icon-content-copy:before {
	content: '\e99a';
}
.icon-edit:before {
	content: '\e99d';
}
.icon-filter-list:before {
	content: '\e99f';
}
.icon-arrow-back:before {
	content: '\eb4d';
}
.icon-arrow-drop-down:before {
	content: '\eb4e';
}
.icon-arrow-downward:before {
	content: '\eb61';
}
.icon-star:before {
	content: '\ebbf';
}
.icon-star-outline:before {
	content: '\ebc1';
}
